<div class="container">
  <h2>Editar Evento</h2>

  <%= render 'form', event: @event %>

  <%= link_to 'Voltar', events_path, class: 'btn btn-secondary' %> |
  <%= link_to 'Exibir', @event %>
</div>

