<div class="container">
  <h2>Editar Projeto</h2>

  <%= render 'form', project: @project %>

  <%= link_to 'Voltar', projects_path, class: 'btn btn-secondary' %> |
  <%= link_to 'Exibir', @project %>
</div>

